/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/* ======================================================================================
    GENERAL STYLE
========================================================================================*/
body {
    font-family: 'Open Sans', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 0;
}

.container { position: relative; z-index: 1;}
img { border: 0; }
h1, h2, h3, h4, h5 { font-family: 'Roboto', sans-serif; margin: 0; padding: 0; }
h2 { font-size: 2em; margin-bottom: 2px;}
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }
h5 { margin: 50px 20px 20px 20px; font-size: 1.5em;}
ul { list-style-type: none; }
p { margin: 20px 0; font-size: 120%; font-weight: 300;}

.our_color { color: #007dc2; }

.inner-title { font-family: 'Open Sans', sans-serif; font-size: 1.5em; font-weight: 300; }
#separate { margin-top: 70px;}

section { padding-top: 0px; }

/*link*/
a { outline: none; color: #fada5c; }
a:hover { text-decoration: none; color: #fada5c }

/*form*/
form input, textarea, submit, button { outline: none; }

/*============== SHORTCODE ======================*/
/*button*/
.button-color { 
	background-color: #f5503b;
	border: 1px solid white;
	padding: 7px 30px;
	line-height: 17px;
	margin: 10px 15px;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 0.875em
	-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
	transition: 0.3s;
}
.button-color:hover { background: #f83b2c; }
.button-none {
	background: transparent; 
	border: 1px solid white;
	padding: 7px 30px;
	margin: 0 15px;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 0.875em
	-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
	transition: 0.3s;
	font-weight: 200;
}
.button-none:hover {
	background-color: #fff;
	color: #332d26;
}

/*medium button*/
.medium-btn { background: #332d26; padding: 10px 50px; -webkit-transition: 0.5s; transition: 0.5s; }
.medium-btn:hover { background: #f5503b; }

blockquote { border: none; font-style: italic; font-size: 1.2em; padding: 0 40px; }

/*===================== Responsive shortcode ===========================*/
/* Large desktop */
@media (min-width: 1200px) { 

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.button-color { width: 100%; margin: 5px 0; }
	.button-none  { width: 100%; margin: 5px 0; }
}


/* ======================================================================================
	NAVIGATION STYLE 
========================================================================================*/
.navbar {
	background: url(../images/parallax/header.png) center top no-repeat; a href=‰ÛÏhttp://www.wmtinterns.tumblr.com‰Û?;
	filter: none;
	border: none;
	box-shadow: none;
	background-color: #007dc2;
	height: 150px;
	color: none;
}
.navbar .navbar-header { height: 70px; padding: 10px 0px; }
.navbar ul li {
	height: 70px;
	padding: 10px 0px;
	margin: 0;
	color: #FFF;
}

.navbar-default .navbar-nav > li > a { 
	height: 60px; 
	color: #fff; 
	text-transform: uppercase; 
	font-size: 14px;
	-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
	transition: 0.3s;
	outline: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {color: #f5503b; border-bottom: 2px solid #f5503b;}

.navbar-default .navbar-nav > li.currentClass a { color: #f5503b; border-bottom: 2px solid #f5503b; }


/* Large desktop */
@media (min-width: 1200px) { 

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.navbar-collapse {
		margin: 0px;
		background: #332d26;
		padding: 5px 30px;
		border: none;
	}
	.navbar ul li { padding: 5px; height: 40px;}
	.navbar-default .navbar-nav > li > a { height: 40px; }
	.navbar-default .navbar-nav > li > a:hover { border: none; background: #46413b; }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	
}

.servicesslider { background: red; width: 100%; }

/* ======================================================================================
	SLIDER STYLE 
========================================================================================*/
#header { 
	background-image:url(../images/parallax/bg-1.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 640px;
	position: relative;
}

#header h1{ font-size: 2.45em; margin-bottom: 30px; }
#header h2 { font-size: 2em; margin-bottom: 30px; }

#header p {
	font-weight: 100;
	font-size: 1.125em;
	line-height: 1.5em;
	margin: 0 0 40px 0;
}

#header a { color: #fff; }
#header a:hover { color: #fff; }
#header a:hover.button-none { color: #332d26;}


/* ======================================================================================
	ABOUT STYLE 
========================================================================================*/
#about { text-align: left; }
#about .content { background: transparent; width: 80%; }
div.title { margin: 0 auto; position: relative; display: inline-block; }
#about-us h2:after { 
	width: 300px;
    content: " ";
	background-repeat: no-repeat;
	background-position: left;
    position: absolute;
    left: 6.1em;
    top: 0.1em;
    height:20px;
}

#about-us { padding-bottom: 31px; }
#about-us p { margin-bottom: 5px; }

.about-slider { width: 500px; margin: 70px auto 0; padding: 20px; background: gold; }

.about-nav-slider { margin: 70px auto 50px; text-align: center; }
.about-nav-slider ul { list-style-type: none; padding: 3px; margin: 0; padding: 0;}
.about-nav-slider ul li { display: inline-block;}
.about-nav-slider ul li a { text-decoration: none; }
.about-nav-slider ul li a:hover { text-decoration: underline; color: gold;}

/*----quote-----*/
#about-quote { 
	background-image:url(../images/parallax/bg-2.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	padding: 132px 0 147px 0;
	height: 600px;
	background-position: center center;
	background-repeat: no-repeat;
}

#about-quote p { font-size: 1.5em; text-align: left; font-weight: 600; margin-bottom: 27px; }
#about-quote cite { font-family: 'Roboto', sans-serif; font-size: 1.2em; }

/*----what-we-do-----*/
#what-we-do { text-align: center; padding: 98px 0 18px 0; }
.what-we-do h2:after { 
	width: 300px;
    content: " ";
	
	background-repeat: no-repeat;
	background-position: left;
    position: absolute;
    right: -11.5em;
    top: 0.1em;
    height:20px;
}
.what-we-do h2:before { 
	width: 300px;
    content: " ";
	
	background-repeat: no-repeat;
	background-position: left;
    position: absolute;
    left: -11.5em;
    top: 0.1em;
    height:20px;
}
#what-we-do .section-text { margin: 33px 0 -30px 0; }
#what-we-do p { text-align: center; }

/* twitter */
#twiiter-section {
	background-image:url(../images/parallax/bg-3.jpg);
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	padding: 0px 0 40px;
	height: 600px;
	background-position: center center;
	background-repeat: no-repeat;
}

#twiiter-section p { font-size: 1.5em; text-align: left; font-weight: 600; }
#twiiter-section b { text-transform: uppercase; }

#twiiter-section #twitter-icon { font-size: 3em; margin-top: 85px;}

/*-------team--------*/
#team { text-align: center; padding: 98px 0 103px 0; }
.team h2:after { 
	width: 300px;
    content: " ";
	
	background-repeat: no-repeat;
	background-position: left;
    position: absolute;
    right: -11.5em;
    top: 0.2em;
    height:20px;
}
.team h2:before { 
	width: 300px;
    content: " ";
	
	background-repeat: no-repeat;
	background-position: left;
    position: absolute;
    left: -11.5em;
    top: 0.2em;
    height:20px;
}
#team .section-text { margin: 33px 0 -30px 0; text-align: center; }

.team .tab-two { display: none; }

/* skills section */
#skills-section { margin-top: 13px; margin-left: auto; margin-right: auto; width: 80%; }
.skills-image {}


.our-skills { text-align: left; }
.our-skills .progress { height: 30px; line-height: 30px; background-color: #e5e1d5; border-radius: 0px; font-size: 1.05em; margin: 23px 0; 
position: relative; }
.our-skills .progress:last-child { margin: 0px;}
.our-skills .progress .progress-bar { background: #f5503b; line-height: 30px; font-size: 1.05em;}
.our-skills .progress .progress-bar #color-white { color: #fff; }
.our-skills .progress .progress-bar .skills-percentage { position: absolute; top:0; right:15px; color: #332d26; }
.our-skills .progress .skills-name { padding-left: 20px; }

/*---------------------ABOUT SECTION RESPONSIVE --------------------*/
/* Large desktop */
@media (min-width: 1200px) { 

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#about h2:before { width: 0px; }
	#about h2:after { width: 0px; }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#about h2:before { width: 0px; }
	#about h2:after { width: 0px; }
	#about .content { width: 95%; text-align: center; }
	#about .content p { text-align: left; }
	#what-we-do p { text-align: center; }
	#about-quote p { text-align: center; }
	.skills-image { margin-bottom: 103px; text-align: center; }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	
}

/* ======================================================================================
	WORK STYLE
========================================================================================*/
#work { background: #e5e1d5; }
#our-work { padding-bottom: 91px; }
.work { width: 90%; margin: 0 auto; }
.work h2:after { 
	width: 300px;
    content: " ";
	background-image:url(../images/after_line.png);
	background-repeat: no-repeat;
	background-position: left;
    position: absolute;
    right: -11.5em;
    top: 0.2em;
    height:20px;
}
.work h2:before { 
	width: 300px;
    content: " ";
	background-image:url(../images/before_line.png);
	background-repeat: no-repeat;
	background-position: left;
    position: absolute;
    left: -11.5em;
    top: 0.2em;
    height:20px;
}
.work .section-text { margin: 33px 0 -22px 0; }



.portfolio .look {
	width: 40px;
	height: 40px;
	background: #332d26;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	text-align: center;
	position: absolute;
	bottom:-100%;
	right: 0;
	cursor: pointer;
	z-index: 9999;
}
.portfolio .video {
	width: 36px;
	height: 36px;
	background: #332d26;
	background-image: url(../images/video.png);
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	text-align: center;
	position: absolute;
	bottom:-100%;
	right: 0;
	cursor: pointer;
	z-index: 9999;
}

#filters {
	padding:3px;
	list-style:none;
	text-align: center;
	display: inline-block;
	margin-top: 50px;
}

	#filters li {
		float:left;
	}
	
	#filters li {
		display: block;
		padding:5px 5px;		
		text-decoration:none;
		color:#666;
		cursor: pointer;
	}
	
	#filters li span.active {
		color: #f5503b;
	}
 

 
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:31%;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}

	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		background: #666;
		text-align: center;
	}
	
	.portfolio-wrapper img { width: 100%; }

	.portfolio .content-background {
		position: absolute;
		background: #f5503b;
		width: 100%;
		height: 100%;
		bottom:-100%;
		right: 0;
		opacity: 0.9;
		z-index: 99;
	}
	.portfolio .content-text { 
		position: absolute;
		width: 100%;
		height: 100%;
		bottom:-100%;
		right: 0;
		padding: 0px 10px;
		color: #fff;
		z-index: 100;
	}
	.portfolio .content-text h3 { margin-top: 41px; }
	.portfolio .content-text p { margin: 0; margin-top: 22px; }
	.portfolio .label {
		position: absolute;
		width: 100%;
		height: 100%;
		bottom:-100%;

		right: 0;
	}

		.portfolio .label-bg {
			background: #f5503b;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}

/* ------------------ featured -------------------------------- */
#feautered-work { background: #fff; padding: 98px 0 92px 0; }
.feautered-work .section-text { margin: 33px 0 -20px 0; }
.feautered-work h2:after { 
	width: 300px;
    content: " ";
	background-image:url(../images/after_line.png);
	background-repeat: no-repeat;
	background-position: left;
    position: absolute;
    right: -11.5em;
    top: 0.2em;
    height:20px;
}
.feautered-work h2:before { 
	width: 300px;
    content: " ";
	background-image:url(../images/before_line.png);
	background-repeat: no-repeat;
	background-position: left;
    position: absolute;
    left: -11.5em;
    top: 0.2em;
    height:20px;
}
.featured-item .look {
	width: 36px;
	height: 36px;
	background: #332d26;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	text-align: center;
	position: absolute;
	bottom:-100%;
	right: 0;
	cursor: pointer;
	z-index: 9999;
}
.featured-item .video {
	width: 40px;
	height: 40px;
	background: #332d26;
	background-image: url(../images/video.png);
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	text-align: center;
	position: absolute;
	bottom:-100%;
	right: 0;
	cursor: pointer;
	z-index: 9999;
}

.featured-container { width: 100%; overflow: hidden; padding: 0; margin: 0 auto; margin-top: 70px;  }
.featured-item { margin: 1%; width: 31.3%; float: left; padding: 0px; overflow: hidden; position: relative; }
.featured-item img { width: 100%; }
.featured-item-content-background { 
	background: #f5503b; 
	color: #fff;
	width: 100%; height: 100%; 
	position: absolute; 
	bottom: -100%; left: 0;
	opacity: 0.9;
}
.featured-item-content { width: 100%; height: 100%; position: absolute; bottom: -100%; left: 0; color: #fff; padding: 0 10px; }
.featured-item-content h3 { margin-top: 41px; }
.featured-item-content p { margin: 0; margin-top: 22px; }

/*----- Work quote ------------*/
#work-quote { 
	background-image: url(../images/parallax/bg-4.jpg);
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	padding: 132px 0 147px 0;
	height: 600px;
	background-position: center center;
	background-repeat: no-repeat;
}
#work-quote p { font-size: 1.5em; text-align: left; font-weight: 600; margin-bottom: 26px; }
#work-quote cite { font-family: 'Roboto', sans-serif; font-size: 1.2em; }
/*---------------------WORK SECTION RESPONSIVE --------------------*/
/* Large desktop */
@media (min-width: 1200px) {
		
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#work .container { width: 100%; }
	.work { width: 100%; margin: 0 auto; }
	#work h2:before { width: 0px; }
	#work h2:after { width: 0px; }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#work .container { width: 100%; }
	#work #portfoliolist .portfolio { width:48%;margin:1%; }
	.work { width: 100%; margin: 0 auto; }
	#work h2:before { width: 0px; }
	#work h2:after { width: 0px; }
	.featured-item { width: 45%; }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	#work .container { width: 100%; }
	#work #portfoliolist .portfolio { width:98%; margin:1%; }
	.work { width: 100%; margin: 0 auto; }
	.featured-item { width: 100%; }
}

/* ======================================================================================
	BLOG STYLE
========================================================================================*/
#blog { }
.blog { padding: 0 0 53px 0; }
#blog .content { width: 80%; }
.blog .section-text { margin: 33px 0 61px 0; }

.blog-posts {
	float: left;
	display: block;
	position: relative; 
	width: 100%;
	margin: 20px 0;
	overflow: hidden;
	border: 1px solid #332d26;
	margin-bottom: 36px;
}

.blog-post-content { 
	width: 100%; 
	margin: 0 auto; 
}

.blog-posts .image img { width: 100%; height: 100%;}


.blog-posts .hover-background { 
	background: #f5503b; 
	width: 100%; 
	height: 100%;
	position: absolute;
	bottom: -100%;
	left: 0;
	overflow: hidden;
	color: white;
	opacity: 0.9;
}

.blog-posts .content-blog {
	text-align: center;
	color: white;
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: -100%;
	left: 0;
}

.blog-posts .content-blog h3 { margin-top: 41px; }
.blog-posts .blog-data { font-size: 1em; margin-top: 5px; font-weight: 200px; }
.blog-posts .content-blog p { font-family: "Open sans", sans-serif; margin: 15px 100px; font-weight: 400px; }

.blog-posts .look {
	width: 40px;
	height: 40px;
	background: black;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	cursor: pointer;
}

.blog-posts .read-more {
	height: 36px;
	line-height: 36px;
	padding: 0 41.5px;
	background: #332d26;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
	font-size: 1.2em;
}

.blog-posts .video {
	width: 40px;
	height: 40px;
	background: black;
	background-image: url(../images/video.png);
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	cursor: pointer;
}

.blog h2:after { 
	width: 300px;
    content: " ";
	background-image:url(../images/after_line.png);
	background-repeat: no-repeat;
	background-position: left;
    position: absolute;
    right: -11.5em;
    top: 0.2em;
    height:20px;
}
.blog h2:before { 
	width: 300px;
    content: " ";
	background-image:url(../images/before_line.png);
	background-repeat: no-repeat;
	background-position: left;
    position: absolute;
    left: -11.5em;
    top: 0.2em;
    height:20px;
}

.black-button { 
	background: #332d26; 
	height: 40px; width: 200px; 
	overflow: hidden; 
	margin: 150px auto 0 auto; 
	font-size: 0.95em; 
	font-weight: 400px;
}

ul.pagination li a { 
	background: #332d26; 
	border: 0px; 
	margin: 5px 5px; 
	color: #fff; 
	-webkit-transition: 0.5s; 
	transition: 0.5s;
	font-size: 1.2em;
}
ul.pagination li a:hover { background: #f5503b; color: #fff; }
ul.pagination li.active a { background: #f5503b; border: none; }
ul.pagination li.active a:hover { background: #f5503b; }

/* ---- client ---- */
#client {
	background-image: url(../images/parallax/bg-5.jpg);
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	padding: 130px 0 150px 0;
	height: 600px;
	background-position: center center;
	background-repeat: no-repeat;
}
.client { }

.client img { margin: 20px 0 0 20px; }

/*---------------------BLOG SECTION RESPONSIVE --------------------*/
/* Large desktop */
@media (min-width: 1200px) { 
	
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#blog .content { width: 100%; }
	.blog h2:before { width: 0px; }
	.blog h2:after { width: 0px; }
	.blog-posts .content-blog p { margin: 15px 50px;}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#blog .content { width: 100%; }
	.blog h2:before { width: 0px; }
	.blog h2:after { width: 0px; }
	.blog-posts .content-blog p { margin: 10px 30px; font-size: 0.9em;}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.blog-posts .content-blog p { display: none; }	
}

/* ======================================================================================
	PRICE STYLE
========================================================================================*/
#price { margin-bottom: 70px;}
.price { margin-bottom: 80px; }
.price .section-text { margin: 33px 0 35px 0; }

#price h2:after { 
	width: 300px;
    content: " ";
	
	background-repeat: no-repeat;
	background-position: left;
    position: absolute;
    right: -11.5em;
    top: 0.2em;
    height:20px;
}
#price h2:before { 
	width: 300px;
    content: " ";
	
	background-repeat: no-repeat;
	background-position: left;
    position: absolute;
    left: -11.5em;
    top: 0.2em;
    height:20px;
}

.table-price { width: 90%; margin: 0 auto; }

.flat ul { background: red;}

.flat .plan {
  list-style: none;
  padding: 0 0 0 0;
  background: #e5e1d5;
  text-align: center;
  margin: 10px;
}
.flat .plan li {
  padding: 15px 15px;
  color: #342d27;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.flat .plan li.plan-name {
  padding: 15px;
  font-size: 24px;
  line-height: 24px;
  color: #342d27;
  border-top: 0;
  text-transform: uppercase;
}
.flat .plan li.plan-price {
	background: #342d27;
	padding: 25px;
	color: #fff;
	font-weight: 600;
	font-size: 24px;
}
.flat .plan.featured li.plan-price {
  background: #f5503c;
  padding: 20px;
}
.flat .plan li.plan-action { 
	background: #342d27; 
	padding: 20px 0; 
	margin-top: 27px;
}
.flat .plan li.plan-action a { 
	color: #fff; 
	font-weight: 600; 
	text-transform: uppercase; 
}
.flat .plan li.plan-action a:hover { text-decoration: none; }
.flat .plan.featured li.plan-action { 
	background: #f5503c;
	margin-top: 15px;
}
.flat .plan li > strong {
  color: #f5503c;
}

.flat .plan.featured {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.flat .plan.featured li.plan-price > strong {
	color: #fff;
}

/*---------------------BLOG SECTION RESPONSIVE --------------------*/
/* Large desktop */
@media (max-width: 1200px) { 
	
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#price h2:after { 
		width: 0;
	}
	#price h2:before { 
		width: 0px;
	}
	.flat .plan.featured {
		margin: 50px 0;
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#price h2:after { 
		width: 0;
	}
	#price h2:before { 
		width: 0px;
	}
	
	.flat .plan.featured {
		margin: 50px 0;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	
}

/* ======================================================================================
	CONTACT STYLE
========================================================================================*/
section#contact { margin-top: 100px; padding-top: 0px; }
#contact .contact-info { 
	background-color: #5f5f5f; 
	background-image: url(../images/parallax/bg-6.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 600px;
	background-position: center center;
	background-repeat: no-repeat;
}
#contact .contact-info .content { width: 75%; padding: 73px 0 98px 0; color: #fff; }
#contact .contact-info .content h5 { margin: 0px; margin-top: -4px; }
#contact .contact-info .content p { font-size: 1em; margin: 0px; margin-top: 10px;}
#contact .contact-info .content a { color: #fff; }
#contact .contact-info .content a:hover { text-decoration: underline; }
#contact .contact-info .contact1 {
	background-image: url(../images/contact/address.png); 
	background-repeat: no-repeat; 
	background-position: center;
	width: 170px; height: 197px; 
	margin: 30px auto;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	transition: 0.5s;
}
#contact .contact-info .contact1:hover { background: url(../images/contact/addressHover.png); }
#contact .contact-info .contact2 {
	background-image: url(../images/contact/phone.png); 
	background-repeat: no-repeat; 
	background-position: center;
	width: 170px; height: 197px;
	margin: 30px auto;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */

	transition: 0.5s;
}
#contact .contact-info .contact2:hover { background: url(../images/contact/phoneHover.png); }
#contact .contact-info .contact3 {
	background-image: url(../images/contact/globe.png); 
	background-repeat: no-repeat; 
	background-position: center;
	width: 170px; height: 197px; 
	margin: 30px auto;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	transition: 0.5s;
}
#contact .contact-info .contact3:hover { background: url(../images/contact/globeHover.png); }

/*-- contact form */
#contact .contact { width: 90%; margin: 0 auto; padding: 85px 0 92px 0px; overflow: hidden; }
#contact .contact form { font-size: 1em; }
#contact .contact form .float-left { float: left; width: 45%; }
#contact .contact form .float-right { float: right; width: 55%; }
#contact .contact form input { 
	height: 40px; width: 90%; 
	padding: 5px; margin: 18px 10px; 
	border: 1px solid #c1c0bd; border-radius: 3px; 
}
#contact .contact form textarea { 
	height: 192px; width: 90%; 
	padding: 5px; margin: 18px;
	border: 1px solid #c1c0bd; border-radius: 3px; 
}
#contact .contact form button { width: 95.3%; margin-left: 8px; margin-top: -10px; color: #fff; }
#contact .contact #message-here {
	color: #00529B; 
	background-color: #BDE5F8; 
	border: 1px solid #3d83ba; 
	width: 50%;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	-webkit-border-radius:.5em;
	border-radius:.5em;
	margin-top: 20px;
	display: none;
}

/* Large desktop */
@media (min-width: 1200px) { 
	
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#contact .contact #message-here { width: 70%; }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	#contact .contact form .float-left { width: 100%; }
	#contact .contact form .float-right { width: 100%; }
	#contact .contact form input { height: 30px; margin: 5px 10px; }
	#contact .contact form textarea { height: 120px; margin: 5px 10px; }
	#contact .contact form button { width: 91%; margin-left: 0px; }
	#contact .contact #message-here { width: 90%; }
}
/* ======================================================================================
	FOOTER STYLE
========================================================================================*/
footer { background: #e5e1d5; text-align: left; padding: 62px 0 0 0; }
footer a { color: #f5503b; }
footer a:hover { color: #f5503b; text-decoration: none; }
footer h2 { text-transform: none; margin-bottom: 39px; font-weight: 300px; }
footer p { margin-bottom: 36px; margin-top: -5px; padding: 0; }
.twitter-username { color: #e8503c; font-weight: 700;}
.comment-img { background: gold; width: 40px; float: left; margin: 0px 10px;}
.comment-img img { width: 40px; }
.flickr-widge img { width: 59px; height: 59px; margin: 5.5px 4px;}
/* copyright */
#copyright { background: #e8503c; padding: 7px 0; color: #fff; margin-top: 50px; }
.copyright { padding-left: 101px; overflow: hidden;}
.text { float: left; }
.social { float: right; }
#copyright a { color: #fff; }
#copyright a:hover { color: #332d26; }
.social a { margin: 0 7px; padding: 3px 10px; }

/* Large desktop */
@media (min-width: 1200px) { 
	
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.copyright { padding-left: 0px;}
	.social a { margin: 0 10px; padding: 3px 0px; }
	.social { float: right; }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.copyright { padding-left: 0px; }
	.text { margin-bottom: 10px;}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	
}

h2 {
	font-family: 'Just Another Hand', cursive;
	font-size: 4em;
	color: #f5038b
}

h3 {
	font-family: 'Just Another Hand', cursive;
	font-size: 4em;
	color: #2e812f
}

.responsiveImg {
	width: 100%;
	height: auto;
}

.your_color { 
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	color: #f5038b; 
	line-height: 1.42857;}

.title_color {
	color: #f5503b; 
	}
	
	
	
/* Smartphones (fix) ----------- */
@media only screen and (max-device-width: 480px) {
    #about-quote { 
	    background-image:none;
	    heigh:10px;
    }
    
    #twiiter-section {
	    background-image:none;
	    heigh:10px;
    }
    
    #work-quote { 
	    background-image:none;
	    heigh:10px;
    }
    
    #client {
	    background-image:none;
	    heigh:10px;
    }
    
    #contact .contact-info { 
	    background-color: #5f5f5f; 
	    background-image: none;
	    heigh:10px;
    }

}

